extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Tạo phòng")

    
    .row
      .col-12
        form.room-form(
        action="/rooms-chat/create"
        method="POST"
        )
          div.form-group
            label(for="title").form-label Tiêu đề
            input(
              type="text"
              class="form-input"
              id="title"
              name="title"
              required
            )
          div.form-group
            label.form-label Thêm thành viên
            each user in friendList
              div.form-check
                input(
                  class="form-checkbox"
                  type="checkbox"
                  value=user.user_id
                  id=`user-${user.user_id}`
                  name="usersId"
                )
                label.form-checkbox-label(
                  for=`user-${user.user_id}`
                ) #{user.infoUserFriend.fullName}
          div.form-group
            button(type="submit" class="form-button") Tạo
