extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-user.pug

    .row
      .col-12
        +box-head("Danh sách bạn bè")

    .row(users-friend)
      each user in users
        .col-6(user-id=user.id)
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src=(user.avatar ? user.avatar : "/images/avatar.jpg" )
                alt=user.fullName
                )
            div(
              class="inner-status"
              status = user.statusOnline
            ) <i class="fa-solid fa-circle"></i>
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                a(
                  href=`/messages/${user.roomChatId}`
                  class="btn btn-sm btn-primary mr-1"
                ) Nhắn tin

            div(
              class="inner-ellipsis"
            ) 
              <i class="fa-solid fa-ellipsis"></i>
              div(
                class="inner-remove"
                fullName=user.fullName
                )
                  .row 
                    .col-3
                      <i class="fa-solid fa-user-xmark"></i>
                    .col-9
                      span() Hủy kết bạn


          
block script
  script( src="/js/users.js")